.home-container{
  display: flex;
  flex-direction: column;
}
.banner-container {

}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-text-container h1 {
  color:  #fff;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.96px;
}

.content-text-container p {
  color:  #f2f4f7;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.content-button{
  display: flex;
  justify-content: space-between;
}
