.main-news-footer-container {
  max-width: 1440px;
  padding: 0 140px;
  background: #bde2ff;
}
.main-news-footer-container .footer-news-text-news {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 48px 0;
}
.main-news-footer-container .footer-news-text {
  width: 50%;
}
.main-news-footer-container .footer-news-subscribe {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.main-news-footer-container .footer-news-text h4 {
  color: #1861dd;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  margin: 0;
}
.main-news-footer-container .footer-news-subscribe input {
  min-width: 406px;
  min-height: 46px;
}
.main-news-footer-container .footer-news-subscribe input::placeholder {
  color: #98a2b3;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 14px;
}
.main-news-footer-container .footer-news-subscribe input:focus,
:focus-visible {
  outline: none;
}

.main-news-footer-container .footer-news-text p {
  color: #475467;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
}
.main-news-footer-container .news-button {
  padding: 12px 24px;
  border-radius: 4px;
  background: #1570ef;
  cursor: pointer;
  border: none;
}
.main-news-footer-container .news-button a {
  text-decoration: none;
}
.main-news-footer-container .news-button span {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.middle-section-footer {
  max-width: 1440px;
  /* padding: 0 140px; */
  padding: 48px 140px;
}

.company-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 48px;
}
.company-logo-text {
  width: 30%;
}
.list-container-main {
  width: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.links-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.company-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.company-text p {
  color: #667085;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.links-container h3 {
  color: #101828;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
  margin-bottom: 10px;
}
.links-container ul {
  margin: 0;
  padding: 0;
}
.links-container ul li {
  list-style-type: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 12px;
}
.links-container ul li a {
  text-decoration: none;
  color: #667085;
}
.links-container .first-svg {
  margin-bottom: 16px;
}
.last-section-footer {
  max-width: 1440px;
}
.last-section-footer .line-separator {
  display: block;
  width: 100%;
  height: 1px;
  background: #eaecf0;
  margin-bottom: 32px;
}
.text-svg-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-container p {
  margin: 0;
  color: #98a2b3;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
